* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --light-gray: #C6C6C6;
    --dark-grey: #808080;
    --white: #FFFFFF;
    --border: 12px;
    --border-cell: 8px;
    --border-cell-selected: 4px;
}

.app {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
   padding: 80px 0px;
   background-color: black;
   flex-grow: 1;
}

.section-game {
    padding: 40px 40px;
    max-width: 1000px;
    margin: 0 auto;
    background-color: var(--light-gray);
    border-left: var(--border) solid var(--white);
    border-top: var(--border) solid var(--white);
    border-right: var(--border) solid var(--dark-grey);
    border-bottom: var(--border) solid var(--dark-grey);
}

.grid {
    min-height: 500px;
    font-size: 26px;
    font-weight: 700;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    border-left: var(--border) solid var(--dark-grey);
    border-top: var(--border) solid var(--dark-grey);
    border-right: var(--border) solid var(--white);
    border-bottom: var(--border) solid var(--white);
}

.row {
    border-left: var(--border) solid var(--dark-grey);
    border-top: var(--border) solid var(--dark-grey);
    border-right: var(--border) solid var(--white);
    border-bottom: var(--border) solid var(--white);
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.col {
    border-left: var(--border-cell-selected) solid var(--white);
    border-top: var(--border-cell-selected) solid var(--white);
    border-right: var(--border-cell-selected) solid var(--dark-grey);
    border-bottom: var(--border-cell-selected) solid var(--dark-grey);
}

.col-3 {
    flex-basis: calc(100% * 0.3);
}

.col.col-2 {
    flex-basis: calc(100% * 0.2);
    display: flex;
    justify-content: center;
    border: var(--border-cell-selected) solid var(--dark-grey);
}

.cell {
    aspect-ratio: 1;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    border-left: var(--border-cell) solid var(--white);
    border-top: var(--border-cell) solid var(--white);
    border-right: var(--border-cell) solid var(--dark-grey);
    border-bottom: var(--border-cell) solid var(--dark-grey);
}

.cell.selected {
    border: var(--border-cell-selected) solid var(--dark-grey);
    border-bottom: none;
}

.cell-10 {
    width: calc(100% / 10);
}

.cell-9 {
    width: calc(100% / 9);
}

.cell-7 {
    width: calc(100% / 7);
}

.bg-red {
    background-color: red;
}

.bg-skyblue {
    background-color: skyblue;
}

.cover {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.messege-game-over {
    font-family: 'Pixelify Sans', sans-serif;
    color: red;
    font-size: 120px;
    font-weight: bold;
}

.messege-win {
    font-family: 'Pixelify Sans', sans-serif;
    color: greenyellow;
    font-size: 120px;
    font-weight: bold;
}

.counter-display {
    position: relative;
    background-color: black;
    padding: 10px 0px;
}

.counter {
    font-family: Digital Numbers;
    line-height: 120px;
    font-size: 120px;
    font-weight: 300;
    letter-spacing: 1px;
    word-spacing: 1px;
}

.counter-over {
    color: rgba(112, 0, 0, 0.493);
}

#counter {
    position: absolute;
    color: red;
    top: 10px;
    right: 0;
}

#btn-start {
    width: 100%;
    font-size: 42px;
    font-weight: 700;
    border: 0;
    background: none;
    border-left: var(--border-cell) solid var(--white);
    border-top: var(--border-cell) solid var(--white);
    border-right: var(--border-cell) solid var(--dark-grey);
    border-bottom: var(--border-cell) solid var(--dark-grey);
}

.col.col-2:active {
   border-bottom: none;
   border-right: none;
}

#btn-start:active {
    border-left: 10px solid var(--white);
    border-top: 10px solid var(--white);
 }

 .level-game {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    font-size: 42px;
    font-weight: 700;
 }

 .f-blue {
    color: blue;
 }

 .f-green {
    color: green;
 }

 .f-red {
    color: red;
 }

 .mb-50 {
    margin-bottom: 50px;
 }